dotenv
fastapi
IPython
langchain
langchain-community
langchain_chroma
langchain_core
langchain_openai
langgraph
numpy
pandas
pip-upgrader
pydantic
redis
sqlite3
types-redis
typing
unstructured
# "unstructured[docx]"
# "unstructured[pdf]"
# "unstructured[csv]"
uvicorn
